#carouselOffers {
    height: 500px;
}

#carouselOffers img {
    max-height: 450px;
}

.intro {
    max-width: 400px;
    margin-top: 150px;
    text-align: center;
}
.card {
    height: 100%;
    width: 100%;
}

.alert {
    position: fixed;
    top: 50px;
    width: 50%;
    left: 25%;
    z-index: 1051;
}

.btn {
    padding: 0.75rem 0.7rem;
}
body{text-align: center; }
body img {
    display:block;
    width: 30%;
    float: left;
}

.text-golovna{
    font-family: Geneva, Arial, Helvetica, sans-serif;
    margin: 15px;

}
.onebody{

    max-width: 800px;
    margin: auto;
    padding:10px;
}

header img {
    display:block;
    width: 50%;
    float: left;
}
@media screen and (max-width: 700px) {
  header img {
    display:block;
    width: 100%;
  }
}
header h2{
    text-align: center;
}

main img{
    display:block;
    width: 100%;
    float:center;
}
main {
    text-align: center;
}

.menu-buttons{
    margin: 10px;
    padding: 10px;
    list-style-type: none;
    border: 2px solid rgb(252, 254, 255);
    border-radius: 20px 20px;
    width: 100%;
    text-align: center;
    background-color: rgb(255, 255, 255);
    position: relative;
}

main .product img {
    width: 100%;
    display: block;
    margin: 0px;
    padding: 10px;
}

main .product .product-buttons {
    display: flex;
    justify-content: space-around;
}

@media (min-width: 600px) {
   main .product-list {
       display: grid;
       grid-template-columns: 1fr 1fr;
       grid-gap: 5px;
   }
}

.footer #icon{
    text-align: center;
}
.footer #icon {
    align-items: center;
    padding: 10px;
    margin: 10px;
}
.topnav {
  overflow: auto;
  background-color:  rgb(255, 255, 255);
}

.topnav a {
  float: left;
  display: block;
  color: #0c0b0b;
  text-align: center;
  padding: 11px 24px;
  text-decoration: none;
  font-size: 17px;

}

.topnav a:hover {
  background-color: rgb(105, 162, 219);
  color: black;
  text-decoration: none;
  border-radius: 13px;
}

.topnav a.active {
  background-color:    rgb(163, 174, 185);
  color: auto;
  padding: 0px;
  margin: 0%;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 700px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 700px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: center;
  }
}

.button {

  border: none;
  color: white;
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition: 0s;
  cursor: pointer;
}
.button2 {
  background-color: rgb(214, 238, 245);
  color: black;
  border-radius: 13px;
}

.button2:hover {
  background-color: rgb(105, 162, 219);;
  color: black;
  border-radius: 13px;
  text-decoration: none;
}

h3 {
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
 h4{
     font-family: system-ui;
 }

section button{
  border: none;
  color: black;
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition: 0s;
  cursor: pointer;
  background-color: rgb(214, 238, 245);
  border-radius: 13px;

}
section button:hover{
  background-color: rgb(105, 162, 219);;
  color: black;
  border-radius: 13px;
}

.dodatu{
  display: flex;
  justify-content: center;
  color: #0c0b0b;
  text-align: center;
  padding: 11px 25px;
  text-decoration: none;
  font-size: 17px;
}

.dodatu:hover{
    background-color: rgb(105, 162, 219);
  color: black;
  text-decoration: none;
  border-radius: 13px;
}
.container{
    display: block;
  text-align: center;
}
.contact-container{
    float:left ;
  display: block;
  text-align: left;;
  position: relative;
}

